#cabecalho {
  height: 500px;
  background-image: url("img/topo.jpg");
}

#rodape {
  background-color: #3498db;
  color: white;
  padding-left: 120px;
}

#rodape p {
  padding-top: 20px;
  padding-bottom: 20px;
}


#corpo {
  width: 80%;
  background-color: #f1c40f;
  height: 50px;
}

#bloco1 {
  width: 70%;
  background-color:
}
