#cabecalho {
  height: 500px;
  background-image: url("img/topo.jpg");
}

#rodape {
  background-color: #3498db;
  color: white;
  padding-left: 120px;
}

#rodape p {
  padding-top: 20px;
  padding-bottom: 20px;
}


#corpo {
  background-color: #95a5a6;
  height: 150px;
}

#bloco1 {
  float: left;
  width: 70%;
  background-color: #8e44ad;
  height: 300px;
}

#bloco2 {
  float: left;
  width: 30%;
  background-color:#2ecc71;
  height: 70px;
}


#bloco3 {
  float: left;
  width: 60%;
  background-color: #e74c3c;
  height: 100px;
  margin-left: 20%;
}
